:root {
} 

* {
    padding: 0;
    margin: 0;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    height: 100vh;
    
    background-image: url(assets/img/testent2.png);
    background-size: fill;
}

#HUD {
    position: fixed;

    display: flex;

    height: 100%;
    width: 100%;

    overflow: hidden;

    z-index: 10;
}

.entity {
    position: absolute;
    
    width: 100px;
    height: 100px;
    background-color: blue;
    background-size: cover;
    
    z-index: 1;
}

.sentient {
    background-color: lime !important;

    z-index: 2;
}

.safespace {

    height: 800px;
    width: 10000px;

    background-color: white;

    border: 2px solid red;
}

.dead {
    transition-property: background-color, transform !important;
    transition-duration: 0.1s !important;
    transition-timing-function: ease-in-out !important;

    transform: rotate(90deg) !important;

    filter: grayscale(1) !important;
    
    /* mix-blend-mode: multiply; */

    z-index: 0 !important;
}

.GameButton {
    cursor: pointer;
    border: 2px solid red;
}

.ltr {
    transform: scaleX(1);
}
.rtl {
    transform: scaleX(-1);
}