* {
    padding: 0;
    margin: 0;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    height: 100vh;
}

#player {
    border-radius: 50%;
}

#HUD {
    position: fixed;

    display: flex;

    height: 100vh;
    width: 100vw;

    z-index: 10;

    overflow: hidden;

    
}

.entity {
    position: absolute;
    
    width: 100px;
    height: 100px;
    background-color: blue;
    background-size: cover;
    
}

.sentient {
    background-color: lime !important;
}

.safespace {

    height: 800px;
    width: 10000px;

    border: 2px solid red;
}

.dead {
    transition-property: background-color, transform !important;
    transition-duration: 0.1s !important;
    transition-timing-function: ease-in-out !important;

    transform: rotate(90deg) !important;

    filter: grayscale(1) !important;
    
    /* mix-blend-mode: multiply; */

    z-index: -3;
}

.GameButton {
    cursor: pointer;
}

.ltr {
    transform: scaleX(1);
}
.rtl {
    transform: scaleX(-1);
}